<tr>
  <td><%= item.id %></td>
  <td><%= link_to "#{item.detalle[0..50]}", item %></td>
  <td><%= item.estado %></td>
  <% unless current_user.cliente? %>
    
  <td><%= link_to "#{item.usuario.nombre} #{item.usuario.apellido}", item.usuario%></td>
  <td><%= item.created_at.strftime("%d-%m-%Y") %></td>
  <% end -%>

  <% if current_user.admin? %>
  <td><%= link_to "delete", item, method: :delete,
                                  confirm: "Seguro??" %></td>
  <% end -%>
</tr>