<div class="row">
  
  <div class="span6 offset3">
    <h1>Nuevo Item</h1> 

    <%= form_for(@item, html: { class: "form-horizontal" })  do |f| -%>
    <fieldset>
      <div class="control-group">
          <%= f.label :detalle, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :detalle , rows: "10"%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :ac, "a/c",  class: "control-label" %>
        <div class="controls">
          <%= f.number_field :ac , class: "span2"%> 
        </div>
      </div>
      
      <div class="form-actions">
        <%= f.submit "Guardar", class: "btn btn-primary" %>
        <%= link_to "Cancelar", root_path, class: "btn" %>
      </div>      
    </fieldset>
    <% end -%>
  </div>
</div>