<div class="row">
  <aside class="span4">
      <h1># <%= @item.id %></h1>
    <section>

      <div id="estado">
        <p>
          <strong><%= @item.estado %></strong>
        </p>
        <% if current_user.tecnico? %>
        <p>
          <%= link_to "REPORTE", edit_item_path(@item), class: "btn btn-primary" %>
        </p>
        <% end -%>
      </div>
    </section>
    
  </aside>

  <div id="descripcion" class="span8">
    
    <h3>Descripcion</h3>

    <div class="row item-descripcion">
      <div class="span1 der"><strong>Nombre</strong></div>
      <div class="span4">
          <%= link_to @item.usuario.nombre+' '+@item.usuario.apellido, @item.usuario %>
      </div>
    </div>  
   
    <div class="row item-descripcion">
      <div class="span1 der"><strong>Detalle</strong></div>
      <div class="span4">
          <textarea name="detalle"  cols="30" rows="5" readonly="readonly"><%= @item.detalle %></textarea>
      </div>
    </div>

    <% unless @item.reporte.nil? %>
    <div class="row item-descripcion">
      <div class="span1 der"><strong>Reporte</strong></div>
      <div class="span4">
          <textarea name="detalle"  cols="30" rows="10" readonly="readonly"><%= @item.reporte %></textarea>
      </div>
    </div>
    <% end -%>

  </div>  

</div>
