<div class="row">
  <aside class="span4">
      <h1># <%= @item.id %></h1>
    <section>

      <div id="estado">
        <p>
          <strong><%= @item.estado %></strong>
        </p>

        <p>
          <%= link_to "REPORTE", edit_item_path(@item), class: "btn btn-primary" %>
        </p>
      </div>
    </section>
    
  </aside>

  <div class="span8">
    
    <h3>Descripcion</h3>
      
    <dl class="dl-horizontal">
      
      <dt>Nombre</dt>
      <dd><%= @item.usuario.nombre+' '+@item.usuario.apellido %></dd>
      <dt>Detalle</dt>
      <dd><%= @item.detalle %></dd>
      <dt>Reporte</dt>
      <dd><%= @item.reporte %></dd>

    </dl>

  </div>  

</div>