<h1>
  Editar
</h1>

      
      

<div class="row">
  <div class="span6 offset3">
    
    <%= form_for @usuario do |f| -%>
      
      <%= render 'form_for_fields', f: f %>

    
      <%= render 'form_for_password', f: f %>
      
      <%= f.submit "Guardar datos", class: "btn btn-large btn-danger" %>
      <%= link_to "Cancelar", root_path, class: "btn btn-large" %>

    <% end -%>


    

  </div>
</div>
