
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @usuario.nombre %> <%= @usuario.apellido %>
      </h1>
  
      <div id="datos">
        <p>
          <%= @usuario.telefono %> 
        </p>
        <p>
          <%= @usuario.email %> 
        </p>
        <% if current_user?(@usuario) %>
        <%= link_to "EDITAR DATOS", edit_usuario_path(@usuario), class: "btn btn-small btn-info"%>
        <% end -%>
      </div>
    </section>
  </aside>
</div>

