
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= @usuario.nombre %> 
      </h1>
  
      <div id="datos">
        <p>
          <strong>Telf: </strong><%= @usuario.telefono %> 
        </p>
        <p>
          <%= @usuario.email %> 
        </p>
        <% if current_user?(@usuario) %>
        <%= link_to "EDITAR DATOS", edit_usuario_path(@usuario), class: "btn btn-small btn-info"%>
        <% end -%>

        <% if current_user.tecnico || current_user.vendedor? %>
        <p>
          <%= link_to "NUEVO ITEM", new_item_path, class: "btn btn-small btn-primary" %>
        </p>
        <% end -%>
      </div>
    </section>
  </aside>

  <div class="span9">
    
    <% if @usuario.items.any? %>
      <h3>Items</h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#N</th>
            <th>Detalle</th>
            <th>Estado</th>
            <% unless current_user.cliente? %>
            <th>Cliente</th>
            <th>Tecnico</th>
            <% end -%>
            <th>Recibido</th>
            <th>Entregado</th>
            <th>a/c</th>
            <th>Trabajo</th>
            <th>Extra</th>
            <th>Total</th>
            <th></th>

         </tr>
        </thead>
        <tbody>
        
          <%= render @items %>

        </tbody>
      </table>
    <% end -%>
  </div>
</div>

