<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Digital Island", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          
          <!-- <li><%= link_to "Ayuda", '#' %></li> -->

          <% if loged_in? %>
            <li> <%= link_to current_user.nombre, current_user %> </li>
            <li> <%= link_to "Salir", logout_path, method: 'delete' %> </li>
          <% else %>
            <li><%= link_to "Entrar", login_path %></li>
          <% end -%>

        </ul>
      </nav>
    </div>
  </div>
</header>